.footer__info-title, .works-path__item-title, .works-path__title, .decor__title, .collection__info-title, .new-collection__title, .top__slider-title, .rightside-menu__title, .menu__list-link {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  color: #5A5A5A;
  overflow-x: hidden;
  min-width: 320px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15 px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slick-dots li {
  margin: 0 15px;
}
.slick-dots button {
  border: none;
  content: "";
  background-color: #363838;
  width: 8px;
  height: 8px;
  padding: 0;
  font-size: 0;
  border-radius: 50%;
}
.slick-dots li.slick-active button {
  background-color: #FFEF35;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 120px;
}
.header__btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 60px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.header__btn:hover {
  opacity: 0.5;
}
.header__btn--disable {
  opacity: 0.1;
}
.header__btn--disable:hover {
  opacity: 0.1;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.menu__list-item:first-of-type {
  padding-right: 80px;
  padding-left: 30px;
}
.menu__list-link {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgba(54, 56, 56, 0.9);
  font-size: 16px;
  line-height: 22px;
}

.logo {
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 50px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.rightside-menu {
  position: absolute;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 8px 1px #b1b1b1;
  box-shadow: 0px 0px 8px 1px #b1b1b1;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 694px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-top: 0;
  padding-bottom: 40px;
  background-color: #fff;
  -webkit-transition: cubic-bezier(0.18, 0.96, 0.75, 0.93) 0.5s;
  -o-transition: cubic-bezier(0.18, 0.96, 0.75, 0.93) 0.5s;
  transition: cubic-bezier(0.18, 0.96, 0.75, 0.93) 0.5s;
}
.rightside-menu.rightside-menu--close {
  -webkit-transform: translateX(105%);
  -ms-transform: translateX(105%);
  transform: translateX(105%);
  -webkit-transition: linear 0.2s;
  -o-transition: linear 0.2s;
  transition: linear 0.2s;
}
.rightside-menu__close {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  left: 0;
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 45px;
}
.rightside-menu__close:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.rightside-menu__content {
  text-align: center;
  max-width: 485px;
  margin: 0 auto;
}
.rightside-menu__logo {
  display: inline-block;
  margin-bottom: 40px;
}
.rightside-menu__title {
  color: #363838;
  font-size: 36px;
  line-height: 51px;
  margin-bottom: 17px;
  position: relative;
  padding-bottom: 17px;
}
.rightside-menu__title::after {
  position: absolute;
  content: "";
  max-width: 252px;
  width: 252px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: 1px;
  background-color: #6d7278;
}
.rightside-menu__text {
  margin-bottom: 75px;
}
.rightside-menu__image {
  max-width: 485px;
}

.main div1 {
  display: none;
}
.main .blue-btn {
  z-index: 1;
  width: 200px;
  height: 90px;
  background-color: rgb(62, 121, 230);
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.main .blue-btn:active {
  opacity: 0.8;
}
.main .p1, .main .p2, .main .p3 {
  width: 400px;
  background-color: burlywood;
  height: 10px;
  -webkit-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  overflow: hidden;
}
.main .show {
  background-color: burlywood;
  height: 800px;
  z-index: 1;
  -webkit-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.top {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.top__inner {
  padding-bottom: 70px;
}
.top__slider-item {
  width: auto;
}
.top__wrapper {
  width: 1920px;
  min-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url(../images/slider-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1920px 722px;
  background-position-y: 5px;
}
.top__slideer-img {
  margin-left: -12%;
  width: 713px;
  height: 815px;
  -o-object-fit: cover;
  object-fit: cover;
}
.top__slider-info {
  max-width: 645px;
  margin-left: 25px;
}
.top__slider-title {
  color: #363838;
  font-size: 110px;
  line-height: 135px;
  padding-bottom: 26px;
  margin-bottom: 26px;
  position: relative;
}
.top__slider-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 185px;
  height: 1px;
  background: #6d7278;
}
.top__slider-text {
  max-width: 545px;
}

.new-collection {
  text-align: center;
  padding: 45px 0 105px;
}
.new-collection__title {
  color: #363838;
  font-style: 36px;
  line-height: 51px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}
.new-collection__title::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 1px;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: #6d7278;
}
.new-collection__text {
  max-width: 730px;
  margin: 0 auto 30px;
}

.collection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  padding: 0 30px;
}
.collection__item {
  position: relative;
}
.collection__item:hover .collection__info {
  opacity: 1;
}
.collection__images {
  -o-object-fit: cover;
  object-fit: cover;
}
.collection__info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.collection__info-title {
  font-family: Montserrat;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #363838;
  padding-bottom: 19px;
  margin-bottom: 19px;
  position: relative;
}
.collection__info-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #6d7278;
  width: 80px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.collection__info-text {
  font-weight: 600;
  line-height: 28px;
  font-size: 14px;
  color: #707070;
}

.decor {
  padding: 17px 0 155px;
  background-image: url(../images/decor-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 616px;
  border-radius: 0px;
  width: 100%;
}
.decor__title {
  max-width: 730px;
  color: #363838;
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
  text-align: left;
  margin-top: 160px;
  padding-bottom: 22px;
  margin-bottom: 22px;
  position: relative;
}
.decor__title::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 200px;
  left: 0;
  bottom: 0;
  background-color: #6D7278;
}
.decor__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

.works-path {
  padding: 80px 0 30px;
}
.works-path__title {
  text-align: center;
  color: #363838;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 51px;
}
.works-path__items-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.works-path__item {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.works-path__line {
  margin: 20px 10px;
  position: relative;
  height: 2px;
  background-color: rgba(54, 56, 56, 0.7);
}
.works-path__line::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  top: -4px;
  left: -10px;
  border-radius: 50%;
  background-color: rgba(54, 56, 56, 0.7);
}
.works-path__item--consultation {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.works-path__item--production {
  margin-left: 340px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-left: 40%;
}
.works-path__item--production::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 2px;
  left: 0;
  bottom: -20px;
  background-color: rgba(54, 56, 56, 0.7);
}
.works-path__item--measurements {
  margin-left: 30%;
}
.works-path__item--measurements::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 2px;
  left: 0;
  top: -20px;
  background-color: rgba(54, 56, 56, 0.7);
}
.works-path__item-title {
  margin-left: 13px;
  color: #363838;
}
.works-path__item-text {
  margin-top: 13px;
}

.gallery {
  padding: 80px 0 90px;
}
.gallery__buttons {
  text-align: center;
  margin-bottom: 40px;
}
.gallery__btn {
  margin: 0 13px;
  background-color: transparent;
  border: 1px solid #454647;
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 600;
  color: #8F8D8D;
  cursor: pointer;
}
.gallery .mixitup-control-active {
  background: #FFEF35;
  color: #363838;
  border: 1px solid #FFEF35;
}
.gallery__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 560px 34px 560px;
  -ms-grid-columns: 812px 34px 489px 34px 489px;
  grid-template: 560px 560px/812px 489px 489px;
  grid-gap: 34px;
}
.gallery__item1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.grid__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 5px 1fr 5px 1fr;
  grid-template-columns: 200px 1fr 1fr;
  grid-gap: 5px 5px;
  grid-auto-rows: minmax(50px, auto);
  grid-auto-columns: minmax(100px, auto);
  background-color: aqua;
  -ms-grid-rows: auto 5px auto;
  grid-template-areas: "element1 element1 element1" "element2 element3 element3";
}

.grid__element {
  background-color: blueviolet;
  font-size: 20px;
  line-height: 1em;
  font-weight: 700;
  color: #fff;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  padding: 5px;
}

.element1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: element1;
}

.element2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: element2;
}

.element3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: element3;
}

.footer__content {
  background-color: #DFDFDF;
  padding: 60px 0 80px;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__info {
  width: 540;
}
.footer__info-title {
  color: #363838;
  margin-bottom: 14px;
  line-height: 23px;
}
.footer__info-text {
  margin-bottom: 16px;
  min-width: 475px;
}
.footer__info-email {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #363838;
  margin-bottom: 22px;
  padding-left: 30px;
  position: relative;
}
.footer__info-email::before {
  position: absolute;
  content: "";
  background-image: url(../images/envelope.svg);
  background-repeat: no-repeat;
  left: 0;
  top: 8px;
  width: 16px;
  height: 16px;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__form-input {
  padding: 6px 10px 6px 18px;
  width: 100%;
  border-radius: 21px;
  background-color: transparent;
  border: 1px solid rgba(54, 56, 56, 0.7);
}
.footer__form-input::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: #A1A1A1;
}
.footer__form-input::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: #A1A1A1;
}
.footer__form-input:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: #A1A1A1;
}
.footer__form-input::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: #A1A1A1;
}
.footer__form-input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: #A1A1A1;
}
.footer__form-button {
  background-color: #363838;
  border: none;
  border-radius: 21px;
  height: 40px;
  width: 160px;
  color: #fff;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  margin-left: 9px;
  cursor: pointer;
}
.footer__social {
  z-index: 0;
  margin-left: 100px;
  margin-right: auto;
  width: 125px;
}
.footer__social-item:nth-child(1) {
  padding-left: 25px;
  position: relative;
}
.footer__social-item:nth-child(1) a::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/facebook.svg);
  background-repeat: no-repeat;
  left: 0;
  top: 6px;
}
.footer__social-item:nth-child(2) {
  padding-left: 25px;
  position: relative;
}
.footer__social-item:nth-child(2) a::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/instagram.svg);
  background-repeat: no-repeat;
  left: 0;
  top: 7px;
}
.footer__social-item:nth-child(3) {
  padding-left: 25px;
  position: relative;
}
.footer__social-item:nth-child(3) a::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/Pinterest.svg);
  background-repeat: no-repeat;
  left: 0;
  top: 6px;
}
.footer__social-item:nth-child(4) {
  padding-left: 25px;
  position: relative;
}
.footer__social-item:nth-child(4) a::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/whatsapp.svg);
  background-repeat: no-repeat;
  left: 0;
  top: 7px;
}
.footer__social-item:nth-child(5) {
  padding-left: 25px;
  position: relative;
}
.footer__social-item:nth-child(5) a::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 16px;
  background-image: url(../images/youtube.svg);
  background-repeat: no-repeat;
  left: 0;
  top: 8px;
}
.footer__social-link {
  color: #707070;
}
.footer__social-item, .footer__menu-item {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  color: #707070;
}
.footer__social {
  padding-left: 28px;
  color: #707070;
}
.footer__social::before {
  position: absolute;
  content: "";
  width: 16px;
}
.footer__menu {
  width: 125px;
  margin-right: 60px;
}
.footer__menu-link {
  color: #707070;
}
.footer__copyright {
  background-color: #363838;
  color: #A1A1A1;
  padding: 42px 0 41px;
  text-align: center;
  font-size: 16px;
}

.figure {
  width: 800px;
  height: 300px;
  border-left: 800px solid #FFEF35;
  border-top: 1rem solid transparent;
}